#/664p03
/664p03/TestRelease/
/664p03/InstallArea/
/664p03/Generator/

/664p03/Analysis/GammaConv/GammaConv-00-00-01/*
!/664p03/Analysis/GammaConv/GammaConv-00-00-01/src
!/664p03/Analysis/GammaConv/GammaConv-00-00-01/GammaConv

/664p03/Analysis/Physics/GamPiPiEEAlg/GamPiPiEEAlg-00-00-01/*
!/664p03/Analysis/Physics/GamPiPiEEAlg/GamPiPiEEAlg-00-00-01/src/
!/664p03/Analysis/Physics/GamPiPiEEAlg/GamPiPiEEAlg-00-00-01/GamPiPiEEAlg/
!/664p03/Analysis/Physics/GamPiPiEEAlg/GamPiPiEEAlg-00-00-01/share/

/664p03/Analysis/Physics/XisP3PiAlg/XisP3PiAlg-00-00-01/*
!/664p03/Analysis/Physics/XisP3PiAlg/XisP3PiAlg-00-00-01/src/
!/664p03/Analysis/Physics/XisP3PiAlg/XisP3PiAlg-00-00-01/XisP3PiAlg/
!/664p03/Analysis/Physics/XisP3PiAlg/XisP3PiAlg-00-00-01/share/
